

.board {
  width: 45vw;
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr;
  border: 10px rgb(86, 86, 86) groove;
}

.cell {
  display: grid;
  place-items: center;
}


img {
  height: 90%;
  width: 90%;
}

.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  
}


.row:nth-child(odd) > .cell:nth-child(even) {
  background-color: rgb(27, 139, 27);
}

 .row:nth-child(odd) > .cell:nth-child(odd) {
  background-color: white;
}

.row:nth-child(even) > .cell:nth-child(even) {
  background-color: white;
}

.row:nth-child(even) > .cell:nth-child(odd) {
  background-color: rgb(27, 139, 27);
}




