<div class="board">
  <div class="row">
    <div class="cell">
      <img src="/b_rook.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_knight.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_bishop.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_queen.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_king.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_bishop.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_knight.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/b_rook.svg" draggable="false"  alt="">
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/b_pawn.svg" draggable="false" alt="">
    </div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="row">
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
    <div class="cell">
      <img src="/w_pawn.svg" draggable="false" alt="">
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <img src="/w_rook.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_knight.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_bishop.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_queen.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_king.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_bishop.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_knight.svg" draggable="false"  alt="">
    </div>
    <div class="cell">
      <img src="/w_rook.svg" draggable="false"  alt="">
    </div>
  </div>
</div>